@font-face {
  font-family: "Plus-Jakarta-Sans-Extra-Bold";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Plus-Jakarta-Sans-Bold";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: "Plus-Jakarta-Sans-Medium";
  src: url("../assets/fonts/plus_jakarta_sans/static/PlusJakartaSans-Medium.ttf");
}
