@use "./mixins" as *;
@use "./variables" as *;
@use "./fonts";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: "Plus-Jakarta-Sans-Extra-Bold";
  background: linear-gradient(white, #f2f2f2);
}

.header {
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px;

    @include media-tablet {
      margin: 24px 40px;
    }

    @include media-desktop {
      max-width: 1024px;
    }
  }

  &__button {
    @include bodyM;
    @include button;
    width: 140px;
    height: 48px;
    background-color: $navy;
    border-radius: 28px;
    z-index: 10;

    &:hover {
      opacity: 1;
      background-color: $purple;
    }
  }
}

.main {
  margin: 16px;
  overflow-x: hidden;

  @include media-tablet {
    margin: 24px 40px;
  }

  &__section {
    @include media-tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 150px;
    }

    @include media-desktop {
      max-width: 1024px;
      margin: auto;
      margin-top: 200px;
    }
  }

  &__section-heading {
    @include headingS;
    @include orange-pink;
    color: $white;
    height: 120px;
    border-radius: 10px;
    padding-top: 28px;
    padding-left: 28px;
    margin-bottom: 40px;

    @include media-tablet {
      width: 320px;
      height: 260px;
      margin: 40px 10px;
      padding-top: 56px;
      padding-left: 32px;
    }

    @include media-desktop {
      @include headingM;
      height: 322px;
      padding-top: 64px;
    }
  }
}

.hero {
  @include media-desktop {
    max-width: 1024px;
    margin: auto;
  }

  &__content {
    @include media-tablet {
      width: 398px;
      margin-top: 100px;
    }
  }

  &__image {
    display: block;
    margin: auto;
    max-width: 100%;

    @include media-tablet {
      position: absolute;
      top: -80px;
      left: 380px;
    }

    @include media-desktop {
      top: -220px;
      left: 480px;
      right: 0;
    }
  }

  &__heading {
    @include headingL;
    color: $navy;
    margin-bottom: 26px;
  }

  &__text {
    @include bodyS;
    color: $grey;
    margin-bottom: 24px;
  }

  &__button {
    @include bodyS;
    @include orange-pink;
    @include button;
    width: 167px;
    height: 56px;
    border-radius: 31.5px;
    margin-bottom: 24px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin: 40px auto;
  padding: 28px;
  padding-bottom: 32px;
  border-radius: 10px;

  @include media-tablet {
    width: 320px;
    height: 260px;
    margin: 40px 10px;
  }

  @include media-desktop {
    height: 322px;
  }

  &--odd {
    @include media-tablet {
      margin-left: 4px;
    }
  }

  &--even {
    @include media-tablet {
      margin-right: 4px;
    }
  }

  &__icon {
    position: absolute;
    top: -24px;
  }

  &__heading {
    color: $navy;
    text-transform: capitalize;
    margin-top: 24px;
    margin-bottom: 16px;

    @include media-desktop {
      @include headingS;
    }
  }

  &__text {
    font-family: "Plus-Jakarta-Sans-Medium";
    line-height: 26px;
    color: $grey;
    margin-bottom: 24px;

    @include media-desktop {
      @include bodyM;
    }
  }

  &__link {
    color: $pink;
    text-transform: capitalize;
  }
}

.footer {
  background-color: $navy;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    height: 120px;
    margin: auto;
    padding: 16px;
  }

  &__button {
    @include bodyM;
    @include button;
    @include purple-pink;
    width: 140px;
    height: 48px;
    border-radius: 28px;
  }
}
